In [128]:
import numpy as np
import pandas as pd

In [129]:
df = pd.read_csv("C:/Users/TOSHIBA/Downloads/messy_data.csv")
df

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.000000,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.000000,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.000000,Marketing
...,...,...,...,...,...,...,...,...
10995,6523,07c223be-03e6-4f70-a2b5-86df778cc61a,NaN,NaN,NaN,NaN,NaN,NaN
10996,9785,da8a6bbc-5026-4630-848d-f64e80dac56c,Steven Armstrong,38.0,molly89gmail.com,2021-06-24,NaN,Sales
10997,7826,ed19c966-d6d8-4047-b410-b6e595a39340,Stephanie Riossell,NaN,robert96@pollard-frye.com,15/08/2006,122609.594149,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.0,roypark@warren.net,2020-10-09,147322.005171,Support
10999,7107,fc25a38a-5747-46eb-b6d3-7173f8255809,Caroline Ochoa,53.0,cdavis@hodges.com,2023-08-10,149224.000000,Support

In [130]:
df.shape

(11000, 8)

In [131]:
df.isnull().sum()

Unnamed: 0       0
ID               0
Name          2333
Age           1747
Email         1269
Join Date     2192
Salary        2239
Department    2255
dtype: int64

In [132]:
# remove missing values
df1 = df.dropna()
df1

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia Brown DVM,66.0,pperkinshotmail.com,17/09/2020,77311.000000,HR
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
...,...,...,...,...,...,...,...,...
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.0,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.0,jpatterson@wise.org,2021-08-05,50510.777098,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,25/12/1992,47809.000000,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.0,roypark@warren.net,2020-10-09,147322.005171,Support
10999,7107,fc25a38a-5747-46eb-b6d3-7173f8255809,Caroline Ochoa,53.0,cdavis@hodges.com,2023-08-10,149224.000000,Support

In [133]:
df1.isna().sum()

Unnamed: 0    0
ID            0
Name          0
Age           0
Email         0
Join Date     0
Salary        0
Department    0
dtype: int64

In [134]:
df1.duplicated()

2        False
3        False
5        False
6        False
9        False
         ...
10990    False
10991    False
10993    False
10998    False
10999     True
Length: 6036, dtype: bool

In [135]:
df2 = df1.drop_duplicates()
df2

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.000000,SupportJ
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia Brown DVM,66.0,pperkinshotmail.com,17/09/2020,77311.000000,HR
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
...,...,...,...,...,...,...,...,...
10989,5620,4d450808-7caf-432e-bf65-385e715b43fe,Richard Leonard,58.0,luis19@gmail.com,01/05/1982,103005.000000,HRJ
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.0,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.0,jpatterson@wise.org,2021-08-05,50510.777098,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,Michael Walker,25/12/1992,47809.000000,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.0,roypark@warren.net,2020-10-09,147322.005171,Support

In [136]:
def correct_email(email):
    # Replace spaces with nothing
    email = email.replace(" ", "")
    
    # Add '@' if missing (assumes a common domain)
    if "@" not in email:
        if "gmail.com" in email:
            email = email.replace("gmail.com", "@gmail.com")
        elif "yahoo.com" in email:
            email = email.replace("yahoo.com", "@yahoo.com")
        elif "hotmail.com" in email:
            email = email.replace("hotmail.com", "@hotmail.com")
        elif ".info" in email:
            email = email.replace(".info","@gmail.com")
        elif ".biz" in email:
            email = email.replace(".biz","@gmail.com")
        elif ".com" in email:
            email = email.replace(".com","@gmail.com")
        else:
            email+="@gmail.com"
            
    # Ensure domain has a dot
    if "@" in email:
        local_part, domain = email.split("@")
        if ".biz" in domain:
            domain = domain.replace(".biz",".com")
        elif ".info" in domain:
            domain = domain.replace(".info",".com")
        elif ".org" in domain:
            domain = domain.replace(".org",".com")
        elif ".net" in domain:
            domain = domain.replace(".net",".com")
        email = f"{local_part}@{domain}"
    
    return email

df2.loc[:,'Email'] = df2['Email'].apply(correct_email)

In [137]:
df2

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen@gmail.com,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez@gmail.com,2021-11-05,139932.000000,SupportJ
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa Bailey,81.0,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia Brown DVM,66.0,pperkins@hotmail.com,17/09/2020,77311.000000,HR
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay Fisher,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
...,...,...,...,...,...,...,...,...
10989,5620,4d450808-7caf-432e-bf65-385e715b43fe,Richard Leonard,58.0,luis19@gmail.com,01/05/1982,103005.000000,HRJ
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly Cummings,54.0,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey Elliottnation,72.0,jpatterson@wise.com,2021-08-05,50510.777098,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley Hopkinslive,79.0,MichaelWalker@gmail.com,25/12/1992,47809.000000,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie Benitez,37.0,roypark@warren.com,2020-10-09,147322.005171,Support

In [138]:
df2['Email']

2               jscottgreen@gmail.com
3            luke56gonzalez@gmail.com
5        milleryvonne@fowler-york.com
6                pperkins@hotmail.com
9            denisemaynard@jordan.com
                     ...
10989                luis19@gmail.com
10990                 rmccoy@hall.com
10991             jpatterson@wise.com
10993         MichaelWalker@gmail.com
10998              roypark@warren.com
Name: Email, Length: 5977, dtype: object

In [139]:
df.dtypes

Unnamed: 0      int64
ID             object
Name           object
Age           float64
Email          object
Join Date      object
Salary        float64
Department     object
dtype: object

In [141]:
#cleaning names

import re

def correct_name(name):
    # Remove titles using regular expressions
    name = re.sub(r'^(Mr\.|Mrs\.|Dr\.)\s*', '', name)
    # Split the name into parts
    parts = name.split()
    if len(parts) < 2:
        return name  # return the name as is if it doesn't have at least two parts
    first_name = parts[0]
    last_name = parts[1]
    # Remove any glued extraneous words from the last name
    pattern = r"\b\w+$"
    last_name = re.sub(pattern," ",last_name)
    cleaned_name = f"{first_name} {last_name}"
    return cleaned_name
# Apply the cleaning function to the Name column
df2.loc[:,'Name'] = df2['Name'].apply(correct_name)

In [142]:
df2

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer,66.0,jscottgreen@gmail.com,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney,39.0,luke56gonzalez@gmail.com,2021-11-05,139932.000000,SupportJ
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa,81.0,milleryvonne@fowler-york.com,15/10/2016,123018.000000,SupportE
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia,66.0,pperkins@hotmail.com,17/09/2020,77311.000000,HR
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
...,...,...,...,...,...,...,...,...
10989,5620,4d450808-7caf-432e-bf65-385e715b43fe,Richard,58.0,luis19@gmail.com,01/05/1982,103005.000000,HRJ
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly,54.0,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey,72.0,jpatterson@wise.com,2021-08-05,50510.777098,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley,79.0,MichaelWalker@gmail.com,25/12/1992,47809.000000,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie,37.0,roypark@warren.com,2020-10-09,147322.005171,Support

In [106]:
df2.loc[:,'Join Date'] = df2['Join Date'].str.replace('/', '-')

def convert_dates(date_str):
    try:
        # First, attempt to parse with day-first
        return pd.to_datetime(date_str, format='%d-%m-%Y').strftime('%Y-%m-%d')
    except ValueError:
        try:
            # If day-first fails, attempt to parse with year-first
            return pd.to_datetime(date_str, format='%Y-%m-%d').strftime('%Y-%m-%d')
        except ValueError:
            # If both parsing attempts fail, return None
            return None
df2.loc[:,'Join Date'] = df2['Join Date'].apply(convert_dates)

In [107]:
df2

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer,66.0,jscottgreen@gmail.com,2023-11-21,65550.000000,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney,39.0,luke56gonzalez@gmail.com,2021-11-05,139932.000000,SupportJ
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa,81.0,milleryvonne@fowler-york.com,2016-10-15,123018.000000,SupportE
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia,66.0,pperkins@hotmail.com,2020-09-17,77311.000000,HR
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay,44.0,denisemaynard@jordan.com,2022-12-08,37701.725993,HR
...,...,...,...,...,...,...,...,...
10989,5620,4d450808-7caf-432e-bf65-385e715b43fe,Richard,58.0,luis19@gmail.com,1982-05-01,103005.000000,HRJ
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly,54.0,rmccoy@hall.com,2020-06-11,60950.500220,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey,72.0,jpatterson@wise.com,2021-08-05,50510.777098,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley,79.0,MichaelWalker@gmail.com,1992-12-25,47809.000000,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie,37.0,roypark@warren.com,2020-10-09,147322.005171,Support

In [108]:
df2['Department'].unique()

array(['Engineering', 'SupportJ', 'SupportE', 'HR', 'HRC', 'SalesA',
       'Marketing', 'Engineeringi', 'Salesw', 'Sales', 'SalesK',
       'MarketingU', 'Salesi', 'HRa', 'Support', 'Supporty', 'SalesN',
       'Marketinge', 'MarketingR', 'HRv', 'SalesM', 'EngineeringL',
       'MarketingQ', 'HRs', 'Supportj', 'Salesd', 'Engineeringj',
       'SalesU', 'HRO', 'MarketingH', 'Salesj', 'Saleso', 'Engineeringe',
       'Marketingr', 'Engineeringm', 'SalesW', 'HRz', 'Engineeringp',
       'EngineeringS', 'EngineeringT', 'SalesC', 'SalesB', 'Marketingn',
       'EngineeringK', 'HRo', 'SupportB', 'HRi', 'Supporta', 'HRn',
       'SupportC', 'Supportm', 'Supporto', 'EngineeringH', 'Marketingw',
       'EngineeringM', 'Salesy', 'HRE', 'Marketingm', 'HRw', 'Marketingo',
       'Supportk', 'SupportS', 'EngineeringD', 'Marketingz', 'MarketingI',
       'MarketingL', 'Salesr', 'Engineeringn', 'MarketingO', 'SalesF',
       'Salesz', 'Marketingt', 'Engineeringv', 'HRL', 'HRI', 'HRW',
       'EngineeringR', 'HRQ', 'Salese', 'Saless', 'Marketingi', 'Salesn',
       'SalesE', 'HRy', 'SalesD', 'Engineerings', 'SupportF',
       'Marketingy', 'MarketingG', 'SalesI', 'Engineeringg',
       'EngineeringQ', 'MarketingE', 'Marketingk', 'SupportA',
       'Engineeringq', 'EngineeringA', 'Supporte', 'Engineeringu',
       'EngineeringO', 'SalesS', 'Supportv', 'HRK', 'Engineeringb',
       'SalesV', 'HRT', 'SupportY', 'SalesQ', 'MarketingX', 'Supportp',
       'HRr', 'HRU', 'Salesq', 'HRg', 'Marketingl', 'EngineeringV',
       'Engineeringt', 'MarketingD', 'EngineeringX', 'Marketingh',
       'MarketingF', 'EngineeringC', 'Engineeringz', 'HRP', 'Salesv',
       'Engineeringk', 'SupportH', 'SupportZ', 'Supportq', 'Supportr',
       'HRJ', 'Supportd', 'HRZ', 'MarketingZ', 'Salesc', 'EngineeringJ',
       'Supportl', 'SupportQ', 'Marketingg', 'EngineeringG', 'SalesH',
       'SupportV', 'HRq', 'Engineeringc', 'Supportw', 'SupportL',
       'Marketingq', 'Supportt', 'SupportX', 'Supportz', 'HRl',
       'EngineeringF', 'SupportP', 'MarketingN', 'Engineeringf',
       'EngineeringW', 'Engineeringy', 'HRd', 'Engineeringx', 'HRA',
       'HRp', 'EngineeringI', 'HRY', 'EngineeringZ', 'MarketingY',
       'Marketingb', 'MarketingV', 'HRM', 'MarketingC', 'Supporti',
       'Marketingx', 'HRH', 'HRN', 'MarketingJ', 'Engineeringh',
       'Supportb', 'SalesT', 'Supportn', 'Salesl', 'SupportG', 'SalesO',
       'Marketingf', 'SalesR', 'SupportK', 'Engineeringd', 'HRk',
       'Marketingd', 'MarketingS', 'MarketingT', 'Engineeringw', 'Salesg',
       'HRB', 'HRh', 'HRb', 'SupportN', 'SupportO', 'SalesX',
       'Marketingc', 'EngineeringE', 'EngineeringU', 'Supportx',
       'MarketingB', 'Salesp', 'Salesk', 'SalesY', 'Salest', 'HRu',
       'SalesL', 'Salesx', 'Marketinga', 'Marketingu', 'SupportD',
       'Salesu', 'Salesm', 'Engineeringr', 'Marketingj', 'SupportM',
       'MarketingM', 'HRm', 'HRX', 'SalesJ', 'SupportU', 'HRF',
       'Engineeringa', 'Salesa', 'Salesf', 'Engineeringl', 'Supportf',
       'SalesZ', 'Salesb', 'EngineeringB', 'HRG', 'Engineeringo', 'HRj',
       'HRe', 'EngineeringN', 'HRV', 'HRR', 'Salesh', 'Supportu', 'HRS',
       'Supportc', 'MarketingK', 'Marketingv', 'HRt', 'Supports',
       'Marketingp', 'SupportI', 'HRf', 'SalesP', 'SupportT', 'SupportR',
       'EngineeringP', 'Marketings', 'SupportW', 'HRc', 'SalesG',
       'Supportg', 'Supporth', 'HRD', 'MarketingP', 'MarketingA'],
      dtype=object)

In [109]:
job_titles = ['Engineering','Support','HR','Sales','Marketing']

def clean_job(dept):
    for title in job_titles:
        if dept.startswith(title):
            return title
    return dept

df2.loc[:,'Department'] = df2['Department'].apply(clean_job)

In [110]:
df2.loc[:,'Salary'] = df2['Salary'].astype('int')

In [111]:
df2

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer,66.0,jscottgreen@gmail.com,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney,39.0,luke56gonzalez@gmail.com,2021-11-05,139932.0,Support
5,5,f92ea13f-24d3-4792-91e4-5b0e07d90c2c,Lisa,81.0,milleryvonne@fowler-york.com,2016-10-15,123018.0,Support
6,6,c4892dbb-2554-4ce1-8f11-f6597d7f6782,Patricia,66.0,pperkins@hotmail.com,2020-09-17,77311.0,HR
9,9,d06f507d-62e5-4bd6-a252-4e60e109d324,Jay,44.0,denisemaynard@jordan.com,2022-12-08,37701.0,HR
...,...,...,...,...,...,...,...,...
10989,5620,4d450808-7caf-432e-bf65-385e715b43fe,Richard,58.0,luis19@gmail.com,1982-05-01,103005.0,HR
10990,3317,10c26512-ce3a-4387-b71a-47768503562e,Kimberly,54.0,rmccoy@hall.com,2020-06-11,60950.0,Marketing
10991,9603,612011e6-101d-4ee2-bbca-16a5056d8217,Jeffrey,72.0,jpatterson@wise.com,2021-08-05,50510.0,Support
10993,9510,796f8c0b-15a4-475c-bb02-ac892df0c746,Shelley,79.0,MichaelWalker@gmail.com,1992-12-25,47809.0,HR
10998,7648,783b36b4-d09f-46c9-8a52-7ff96b80863e,Bonnie,37.0,roypark@warren.com,2020-10-09,147322.0,Support

In [112]:
df2.to_csv("cleaned_datset.csv",index = False)